@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mukta Mahee';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/css/fonts/MuktaMahee-Regular.ttf') format('truetype');
}